<template>
  <div>
    <el-card :body-style="{ padding: '0px' }">
      <div slot="header">
        <div style="display: flex">
          <h2>Peliculas</h2>
          <el-button
            icon="el-icon-plus"
            type="primary"
            style="margin: auto; margin-right: 0px"
            plain
            @click="$refs.modalNuevo.abrir()"
          >
            Agregar Nueva Pelicula
            <el-button slot="append" icon="el-icon-search"></el-button>
          </el-button>
        </div>
        <el-input v-model="filtro" placeholder="Buscar por Nombre">
          <el-select
            v-model="tipoFiltro"
            slot="prepend"
            placeholder="Seleccionar"
            style="width: 150px"
          >
            <el-option label="Nombre" value="0"></el-option>
            <el-option label="Sinopsis" value="1"></el-option>
            <el-option label="Categoria" value="2"></el-option>
          </el-select>
          <el-button slot="append" icon="el-icon-search"></el-button>
        </el-input>
      </div>
    </el-card>

    <el-table :data="listaPeliculas" stripe v-loading="cargando">
      <el-table-column prop="nombre" label="Nombre"></el-table-column>
      <!-- <el-table-column prop="sinopsis" label="Sinopsis"></el-table-column> -->
      <el-table-column prop="ano" label="Año"></el-table-column>
      <el-table-column prop="director" label="Director"></el-table-column>
      <el-table-column label="Puntaje">
        <template scope="props">
          <el-rate v-model="props.row.puntaje" :colors="colors" disabled></el-rate>
        </template>
      </el-table-column>

      <el-table-column
        prop="categoria"
        label="Categoria"
        :filters="opcionesCategoria"
        :filter-multiple="false"
      >
        <template scope="props">
          <span v-text="props.row.genero"></span>
        </template>
      </el-table-column>

      <el-table-column prop="pais" label="Pais"></el-table-column>

      <el-table-column prop="operaciones" label="Operaciones">
        <template scope="props">
          <div>
            <el-button
              type="primary"
              plain
              round
              @click="$refs.modalModificar.abrir(props.row.id)"
            >Modificar</el-button>
            <el-button type="danger" @click="eliminar(props.row.id)" plain round>Eliminar</el-button>
          </div>
        </template>
      </el-table-column>
    </el-table>

    <NuevaPelicula ref="modalNuevo" @datosCambiados="obtenerDatos(paginaActual)"></NuevaPelicula>
    <ModificarPelicula ref="modalModificar" @datosCambiados="obtenerDatos(paginaActual)"></ModificarPelicula>
  </div>
</template>

<script>
import NuevaPelicula from "./Modales/NuevaPelicula";
import ModificarPelicula from "./Modales/ModificarPelicula";

export default {
  components: {
    NuevaPelicula,
    ModificarPelicula
  },
  data() {
    return {
      totalItems: 0,
      paginaActual: 0,
      listaPeliculas: [],
      cargando: false,
      filtro: "",
      tipoFiltro: 0,
      opcionesCategoria: []
    };
  },
  methods: {
    paginaCambiada(nuevaPagina) {
      this.paginaActual = nuevaPagina;
      this.obtenerDatos(this.paginaActual);
    },

    async obtenerDatos(pagina) {
      this.cargando = true;
      let respuestaApi = await this.$api.get("/pelicula/obtenerTodos", {
        nroPagina: pagina //se pasa como objeto el numero de pagina en vez de =?asdfasdf
      });
      //await para esperar que devuelva el dato (la ejecucion es mas rapido que la velocidad de internet)
      this.cargando = false;

      this.listaPeliculas = respuestaApi.data.datos.datos;
      this.totalItems = respuestaApi.data.datos.pagTotalItems;
      console.log(respuestaApi);
    },

    eliminar(id) {
      this.$confirm(
        "¿Esta seguro que desea eliminar la pelicula?",
        "Advertencia",
        {
          confirmButtonText: "Si",
          cancelButtonText: "Cancelar",
          type: "warning"
        }
      )
        .then(async () => {
          let respuestaApi = await this.$api.post("/pelicula/eliminar", {
            id: id
          });

          if (respuestaApi != null) {
            if (respuestaApi.data.estado == 1) {
              this.$message("Pelicula Eliminada");
              this.obtenerDatos(this.paginaActual);
            } else {
              this.$message("Ocurrio un error");
            }
          } else {
            this.$message("Ocurrio un error al contactar el servidor");
          }
        })
        .catch(() => {});
    }
  },

  created() {
    this.obtenerDatos(this.paginaActual);
  }
};
</script>

<style>
</style>