<template>
  <div>
    <el-dialog title="Nuevo genero" :visible.sync="dialogVisible">
      <div>
        <el-form :rules="formRules" :model="form" ref="form" label-width="95px">
          <el-form-item label="Nombre" prop="nombre">
            <el-input v-model="form.nombre"></el-input>
          </el-form-item>

          <el-form-item>
            <div style="float:right">
              <el-button @click="dialogVisible = false">Cerrar</el-button>
              <el-button type="primary" @click="onSubmit">Guardar</el-button>
            </div>
          </el-form-item>
        </el-form>
      </div>
    </el-dialog>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        nombre: null
      },
      formRules: {
        nombre: [
          //corchetes porque puede tener mas de una regla
          {
            required: true,
            message: "El nombre es requerido",
            trigger: "blur" //blur cuando usuario cambia de foco
          }
        ]
      },
      dialogVisible: false
    };
  },

  created() {
    //para la ejecucion apenas se abra el dialogo (modal)
  },

  methods: {
    abrir() {
      this.dialogVisible = true;
      this.$nextTick(() => {
        this.$refs.form.resetFields();
      });
    },

    async obtenergeneroids() {
      let respuestaApi = await this.$api.get("/genero/obtenerTodosSelect");

      this.generoids = respuestaApi.data.datos.datos;
    },

    async onSubmit() {
      let datosFormData = new FormData(); //Para enviar archivos al servidor FormData
      datosFormData.set("nombre", this.form.nombre);

      let respuestaApi = await this.$api.post("/genero/crear", datosFormData);

      console.log(respuestaApi.data.estado);
      if (respuestaApi.data.estado == 1) {
        this.dialogVisible = false;
        this.$message("Creado con exito");
        this.$emit("datosCambiados");
      } else {
        this.$message(respuestaApi.data.excepcion);

        this.$message("Ocurrio un error");
      }

      console.log(respuestaApi);
    }
  }
};
</script>

<style>
</style>