<template>
  <div>
    <el-dialog title="Nueva pelicula" :visible.sync="dialogVisible">
      <div>
        <el-form :rules="formRules" :model="form" ref="form" label-width="95px">
          <el-form-item label="id" prop="id" v-show="false">
            <el-input v-model="form.id"></el-input>
          </el-form-item>

          <el-form-item label="Nombre" prop="nombre">
            <el-input v-model="form.nombre"></el-input>
          </el-form-item>

          <el-form-item label="sinopsis" prop="sinopsis">
            <el-input type="textarea" v-model="form.sinopsis"></el-input>
          </el-form-item>

          <el-form-item label="Director" prop="director">
            <el-input v-model="form.director"></el-input>
          </el-form-item>

          <el-form-item label="Año" prop="ano">
            <el-input v-model="form.ano" type="number"></el-input>
          </el-form-item>

          <el-form-item label="Genero" prop="generoid">
            <el-select style="width:100%" v-model="form.generoid" placeholder="Elija el Genero">
              <el-option
                v-for="item in generoids"
                :key="item.id"
                :label="item.nombre"
                :value="item.id"
              ></el-option>
            </el-select>
          </el-form-item>

          <el-form-item prop="puntaje" class="block">
            <template>
              <el-rate v-model="form.puntaje" :colors="colors"></el-rate>
            </template>
          </el-form-item>

          <el-form-item>
            <div style="float:right">
              <el-button @click="dialogVisible = false">Cerrar</el-button>
              <el-button type="primary" @click="onSubmit">Guardar</el-button>
            </div>
          </el-form-item>
        </el-form>
      </div>
    </el-dialog>
  </div>
</template>

<script>
export default {
  data() {
    return {
      cargando: false,
      form: {
        nombre: null,
        sinopsis: null,
        ano: null,
        director: null,
        puntaje: null,
        generoid: null
      },
      formRules: {
        nombre: [
          //corchetes porque puede tener mas de una regla
          {
            required: true,
            message: "El nombre es requerido",
            trigger: "blur" //blur cuando usuario cambia de foco
          }
        ],
        sinopsis: [
          {
            required: true,
            message: "La sinopsis es requerida",
            trigger: "blur" //blur cuando usuario cambia de foco
          }
        ],
        ano: [
          {
            required: true,
            message: "El anio es requerido",
            trigger: "blur" //blur cuando usuario cambia de foco
          }
        ],
        director: [
          {
            required: true,
            message: "El director es requerida",
            trigger: "blur" //blur cuando usuario cambia de foco
          }
        ],
        puntaje: [
          {
            required: true,
            message: "El puntaje es requerido",
            trigger: "blur" //blur cuando usuario cambia de foco
          }
        ],
        generoid: [
          {
            required: true,
            message: "El genero es requerida",
            trigger: "blur" //blur cuando usuario cambia de foco
          }
        ]
      },
      dialogVisible: false,
      id: 0,
      generoids: []
    };
  },

  created() {
    //para la ejecucion apenas se abra el dialogo (modal)
    this.obtenergeneroids();
  },

  methods: {
    abrir(id) {
      this.dialogVisible = true;
      this.$nextTick(() => {
        this.$refs.form.resetFields();
      });
      this.id = id;
      this.obtenerDatos();
    },

    async obtenerDatos() {
      //datos para llenar el modal de modificar noticia
      this.cargando = true;
      let respuestaApi = await this.$api.get("/pelicula/obtenerDatos", {
        id: this.id
      });
      this.cargando = false;
      this.form.id = respuestaApi.data.datos.id;
      this.form.nombre = respuestaApi.data.datos.nombre;
      this.form.sinopsis = respuestaApi.data.datos.sinopsis;
      this.form.ano = respuestaApi.data.datos.ano;
      this.form.director = respuestaApi.data.datos.director;
      this.form.puntaje = respuestaApi.data.datos.puntaje;
      this.form.generoid = respuestaApi.data.datos.generoId;
    },

    async obtenergeneroids() {
      let respuestaApi = await this.$api.get("/genero/obtenerTodosSelect");

      this.generoids = respuestaApi.data.datos.datos;
      this.form.generoid = respuestaApi.data.datos.id;
      console.log(respuestaApi);
    },

    async onSubmit() {
      let datosFormData = new FormData(); //Para enviar archivos al servidor FormData
      datosFormData.set("id", this.id);
      datosFormData.set("nombre", this.form.nombre);
      datosFormData.set("sinopsis", this.form.sinopsis);
      datosFormData.set("ano", this.form.ano);
      datosFormData.set("director", this.form.director);
      datosFormData.set("puntaje", this.form.puntaje);
      datosFormData.set("generoId", this.form.generoid);

      let respuestaApi = await this.$api.post(
        "/pelicula/actualizar",
        datosFormData
      );

      console.log(respuestaApi.data.estado);
      if (respuestaApi.data.estado == 1) {
        this.dialogVisible = false;
        this.$message("Creado con exito");
        this.$emit("datosCambiados");
      } else {
        this.$message(respuestaApi.data.excepcion);

        this.$message("Ocurrio un error");
      }

      console.log(respuestaApi);
    }
  }
};
</script>

<style>
</style>