<template>
  <div>
    <el-dialog title="Nueva pelicula" :visible.sync="dialogVisible">
      <div>
        <el-form :rules="formRules" :model="form" ref="form" label-width="95px">
          <el-form-item label="Nombre" prop="nombre">
            <el-input v-model="form.nombre"></el-input>
          </el-form-item>

          <el-form-item label="sinopsis" prop="sinopsis">
            <el-input type="textarea" v-model="form.sinopsis"></el-input>
          </el-form-item>

          <el-form-item label="Director" prop="director">
            <el-input v-model="form.director"></el-input>
          </el-form-item>

          <el-form-item label="Año" prop="ano">
            <el-input v-model="form.ano" type="number"></el-input>
          </el-form-item>

          <el-form-item label="Genero" prop="generoid">
            <el-select style="width:100%" v-model="form.generoid" placeholder="Elija el Genero">
              <el-option
                v-for="item in generoids"
                :key="item.id"
                :label="item.nombre"
                :value="item.id"
              ></el-option>
            </el-select>
          </el-form-item>

          <el-form-item label="Continente" prop>
            <el-select
              @change="obtenerpais()"
              style="width:100%"
              v-model="form.continentesid"
              placeholder="Elija el Continente"
            >
              <el-option
                v-for="item in continentes"
                :key="item.id"
                :label="item.nombre"
                :value="item.id"
              ></el-option>
            </el-select>
          </el-form-item>

          <el-form-item label="Pais" prop>
            <el-select style="width:100%" v-model="form.paisid" placeholder="Elija el pais">
              <el-option
                v-for="item in paises"
                :key="item.id"
                :label="item.nombre"
                :value="item.id"
              ></el-option>
            </el-select>
          </el-form-item>

          <el-form-item prop="puntaje" class="block">
            <!-- <el-input v-model="form.puntaje"></el-input> -->
            <span class="demonstration">Puntaje</span>
            <el-rate v-model="form.puntaje" :colors="colors"></el-rate>
          </el-form-item>

          <el-form-item>
            <div style="float:right">
              <el-button @click="dialogVisible = false">Cerrar</el-button>
              <el-button type="primary" @click="onSubmit">Guardar</el-button>
            </div>
          </el-form-item>
        </el-form>
      </div>
    </el-dialog>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        nombre: null,
        sinopsis: null,
        ano: null,
        director: null,
        puntaje: null,
        generoid: null,
        continentesid: null,
        paisid: null
      },
      formRules: {
        nombre: [
          //corchetes porque puede tener mas de una regla
          {
            required: true,
            message: "El nombre es requerido",
            trigger: "blur" //blur cuando usuario cambia de foco
          }
        ],
        sinopsis: [
          {
            required: true,
            message: "La sinopsis es requerida",
            trigger: "blur" //blur cuando usuario cambia de foco
          }
        ],
        ano: [
          {
            required: true,
            message: "El anio es requerido",
            trigger: "blur" //blur cuando usuario cambia de foco
          }
        ],
        director: [
          {
            required: true,
            message: "El director es requerida",
            trigger: "blur" //blur cuando usuario cambia de foco
          }
        ],
        puntaje: [
          {
            required: true,
            message: "El puntaje es requerido",
            trigger: "blur" //blur cuando usuario cambia de foco
          }
        ],
        generoid: [
          {
            required: true,
            message: "El genero es requerida",
            trigger: "blur" //blur cuando usuario cambia de foco
          }
        ]
      },
      dialogVisible: false,
      generoids: [],
      paises: [],
      continentes: []
    };
  },

  created() {
    //para la ejecucion apenas se abra el dialogo (modal)
    this.obtenergeneroids();
    this.obtenercontinentes();
  },

  methods: {
    abrir() {
      this.dialogVisible = true;
      this.$nextTick(() => {
        this.$refs.form.resetFields();
      });
    },

    async obtenergeneroids() {
      let respuestaApi = await this.$api.get("/genero/obtenerTodosSelect");

      this.generoids = respuestaApi.data.datos.datos;
    },

    async onSubmit() {
      let datosFormData = new FormData(); //Para enviar archivos al servidor FormData
      datosFormData.set("nombre", this.form.nombre);
      datosFormData.set("sinopsis", this.form.sinopsis);
      datosFormData.set("ano", this.form.ano);
      datosFormData.set("director", this.form.director);
      datosFormData.set("puntaje", this.form.puntaje);
      datosFormData.set("generoId", this.form.generoid);

      let respuestaApi = await this.$api.post("/pelicula/crear", datosFormData);

      console.log(respuestaApi.data.estado);
      if (respuestaApi.data.estado == 1) {
        this.dialogVisible = false;
        this.$message("Creado con exito");
        this.$emit("datosCambiados");
      } else {
        this.$message(respuestaApi.data.excepcion);

        this.$message("Ocurrio un error");
      }

      console.log(respuestaApi);
    },

    async obtenercontinentes() {
      let respuestaApi = await this.$api.get("/continente/obtenerTodosSelect");

      this.continentes = respuestaApi.data.datos.datos;
    },

    async obtenerpais() {
      let respuestaApi = await this.$api.get("/pais/obtenerTodosSelect", {
        continenteId: this.form.continentesid
      });

      this.paises = respuestaApi.data.datos.datos;
    }
  }
};
</script>

<style>
</style>