<template>
  <div>
    <el-dialog title="Nueva noticia" :visible.sync="dialogVisible">
      <div>
        <el-form :rules="formRules" :model="form" ref="form" label-width="95px">
          <el-form-item label="Titulo" prop="titulo">
            <el-input v-model="form.titulo"></el-input>
          </el-form-item>

          <el-form-item label="Descripcion" prop="descripcion">
            <el-input v-model="form.descripcion"></el-input>
          </el-form-item>

          <el-form-item label="Cuerpo" prop="cuerpo">
            <el-input type="textarea" v-model="form.cuerpo"></el-input>
          </el-form-item>

          <el-form-item label="Fecha" prop="fecha">
            <el-date-picker
              style="float:left"
              v-model="form.fecha"
              type="date"
              placeholder="Fecha"
              format="dd/MM/yyyy"
              value-format="yyyy-MM-dd"
            ></el-date-picker>
            <!-- yyyy-MM-dd formatear fecha para envio al servidor -->
          </el-form-item>

          <el-form-item label="Categoria" prop="categoria">
            <el-select style="width:100%" v-model="form.categoria" placeholder="Elija la categoria">
              <el-option
                v-for="item in categorias"
                :key="item.id"
                :label="item.nombre"
                :value="item.id"
              ></el-option>
            </el-select>
          </el-form-item>

          <el-form-item label="Imagen" prop="imagen">
            <el-upload
              action
              :on-remove="() => (form.image = null)"
              :on-change="nuevaImagen => (form.imagen = nuevaImagen)"
              :multiple="false"
              :limit="1"
              :auto-upload="false"
              drag
            >
              <i class="el-icon-upload"></i>
              <div class="el-upload__text">
                Suelta tu archivo aquí o
                <em>haz clic para cargar</em>
              </div>
              <div
                slot="tip"
                class="el-upload__tip"
              >Solo archivos jpg/png con un tamaño menor de 500kb</div>
            </el-upload>
          </el-form-item>

          <el-form-item>
            <div style="float:right">
              <el-button @click="dialogVisible = false">Cerrar</el-button>
              <el-button type="primary" @click="onSubmit">Guardar</el-button>
            </div>
          </el-form-item>
        </el-form>
      </div>
    </el-dialog>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        titulo: null,
        descripcion: null,
        fecha: null,
        categoria: null,
        imagen: null,
        cuerpo: null
      },
      formRules: {
        titulo: [
          //corchetes porque puede tener mas de una regla
          {
            required: true,
            message: "El titulo es requerido",
            trigger: "blur" //blur cuando usuario cambia de foco
          }
        ],
        descripcion: [
          {
            required: true,
            message: "La descripcion es requerida",
            trigger: "blur" //blur cuando usuario cambia de foco
          }
        ],
        cuerpo: [
          {
            required: true,
            message: "El cuerpo es requerido",
            trigger: "blur" //blur cuando usuario cambia de foco
          }
        ],
        fecha: [
          {
            required: true,
            message: "La fecha es requerida",
            trigger: "blur" //blur cuando usuario cambia de foco
          }
        ],
        categoria: [
          {
            required: true,
            message: "La categoria es requerida",
            trigger: "blur" //blur cuando usuario cambia de foco
          }
        ],
        imagen: [
          {
            required: true,
            message: "La imagen es requerida",
            trigger: "blur" //blur cuando usuario cambia de foco
          }
        ]
      },
      dialogVisible: false,
      categorias: [
        {
          nombre: "Tecnologia",
          id: 0
        }
      ]
    };
  },

  created() {
    //para la ejecucion apenas se abra el dialogo (modal)
    this.obtenerCategorias();
  },

  methods: {
    abrir() {
      this.dialogVisible = true;
      this.$nextTick(() => {
        this.$refs.form.resetFields();
      });
    },
    async obtenerCategorias() {
      let respuestaApi = await this.$api.get("/categoria/obtenerTodosSelect");

      this.categorias = respuestaApi.data.datos.datos;
    },
    async onSubmit() {
      let datosFormData = new FormData(); //Para enviar archivos al servidor FormData
      datosFormData.set("titulo", this.form.titulo);
      datosFormData.set("descripcion", this.form.descripcion);
      datosFormData.set("cuerpo", this.form.cuerpo);
      datosFormData.set("fecha", this.form.fecha);
      datosFormData.set("categoriaId", this.form.categoria);
      datosFormData.append("imagen", this.form.imagen.raw);

      let respuestaApi = await this.$api.post("/noticia/crear", datosFormData);

      console.log(respuestaApi.data.estado);
      if (respuestaApi.data.estado == 1) {
        this.dialogVisible = false;
        this.$message("Creado con exito");
        this.$emit("datosCambiados");
      } else {
        this.$message(respuestaApi.data.excepcion);
      }

      console.log(respuestaApi);
    }
  }
};
</script>

<style></style>
