<template>
  <div>
    <transition name="sidebar">
      <el-aside id="sidebar" width="200px" v-if="$store.state.usuario != null">
        <div class="usuario">
          <b>{{$store.state.usuario.nombre}}</b>
          <br />
          <span>{{$store.state.usuario.apellido}}</span>
        </div>

        <el-menu
          id="sidemenu"
          mode="vertical"
          :default-active="itemActivo"
          router
          background-color="#011627"
          text-color="#fff"
        >
          <el-menu-item index="0" route="/" class="item-menu">
            <i class="el-icon-s-home"></i>
            <span>Inicio</span>
          </el-menu-item>

          <el-menu-item index="1" route="/peliculas" class="item-menu">
            <i class="el-icon-postcard"></i>
            <span>Peliculas</span>
          </el-menu-item>

          <el-menu-item index="2" route="/usuarios" class="item-menu">
            <i class="el-icon-user-solid"></i>
            <span>Usuarios</span>
          </el-menu-item>

          <el-menu-item index="3" route="/generos" class="item-menu">
            <i class="el-icon-menu"></i>
            <span>Generos</span>
          </el-menu-item>

          <el-menu-item index="4" @click="logout" class="item-menu">
            <i class="el-icon-arrow-left"></i>
            <span>Cerrar Sesion</span>
          </el-menu-item>
        </el-menu>
      </el-aside>
    </transition>
  </div>
</template>



<script>
export default {
  data() {
    return {
      itemActivo: "0"
    };
  },

  created() {
    if (this.$route.path == "/noticias") {
      this.itemActivo = "1";
    }
    if (this.$route.path == "/usuarios") {
      this.itemActivo = "2";
    }
    if (this.$route.path == "/generos") {
      this.itemActivo = "3";
    }
  },
  methods: {
    logout() {
      this.$store.commit("logout");
      this.$router.push("/login");
    }
  }
};
</script>

<style scoped>
.usuario {
  color: rgb(255, 251, 251);
  background: #37315a;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#sidebar {
  background: #42b983;
  box-shadow: 0 0 10px 1px black;
  background-color: #00000085;
}

#sidemenu {
  height: 100vh;
  border-right: 1px solid rgba(0, 0, 0, 0.527);
}

/*/////////// TRANSICION SIDEBAR //////////*/
.sidebar-enter-active,
.sidebar-leave-active {
  transition: width 0.5s;
}

.sidebar-enter,
.sidebar-leave-to {
  width: 0px !important;
}
/*//////////// FIN TRANSICION /////////////*/
</style>