<template>
  <div class="card-noticia">
    <el-card :body-style="{ padding: '0px' }">
      <div>
        <img :src="imagen" alt height="200px" width="100%" style="object-fit: cover" />
        <div class="cuerpo-noticia">
          <h1 v-text="titulo"></h1>
          <h5 v-text="descripcion"></h5>
        </div>
      </div>
    </el-card>
  </div>
</template>

<script>
export default {
  props: ["imagen", "titulo", "descripcion"]
};
</script>

<style>
.cuerpo-noticia {
  text-align: left;
  padding: 20px;
}

.card-noticia {
  margin-bottom: 16px;
  /*tiempo determinado para que la transicion sea mas lenta*/
  transition: transform 300ms;
}

/*Para que se agrande cuando se acerque el cursor*/
.card-noticia:hover {
  transform: scale(1.1, 1.1);
}
/*para aclarar la imagen (se aplica solo a la imagen),
si queremos que se aplique al card completo, debemos colocarlo en un mismo card-noticia*/
.card-noticia:hover img {
  filter: contrast(120%);
}
/*tiempo determinado para que la transicion de la imagen sea mas lenta */
.card-noticia img {
  transition: filter 300ms;
}
</style>