<template>
  <div id="app">
    <el-container>
      <Sidebar></Sidebar>
      <el-container>
        <el-main id="main">
          <!-- Main content -->
          <transition name="el-fade-in-linear" mode="out-in">
            <router-view />
          </transition>
        </el-main>
      </el-container>
    </el-container>
  </div>
</template>

<style>
body {
  margin: 0px;
  overflow: hidden;
  background: #eee;
}

#app {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100vh;
}

* {
  font-family: "Roboto";
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

#main {
  overflow: auto;
  height: 100vh;
  padding: 20px;
}

.item-menu {
  text-align: left;
}
</style>

<script>
import Sidebar from "./components/Sidebar";

export default {
  components: {
    Sidebar
  },

  methods: {}
};
</script>