<template>
  <div class="paginaLogin">
    <el-card class="cardLogin" v-loading>
      <h2>Login</h2>
      <el-input v-model="username" placeholder="Nombre de usuarios" @keypress.enter.native="login"></el-input>
      <el-input
        style="margin-top: 10px"
        v-model="password"
        placeholder="Contrasenia"
        type="password"
        @keypress.enter.native="login"
      ></el-input>
      <el-button style="margin-top: 10px" type="primary" @click="login">Iniciar sesion</el-button>
    </el-card>
  </div>
</template>

<script>
export default {
  data() {
    return {
      username: null,
      password: null,
      cargando: false
    };
  },
  methods: {
    async login() {
      //mandar a API
      this.cargando = true;
      let respuestaApi = await this.$api.post("/auth/login", {
        username: this.username,
        password: this.password
      });
      this.cargando = false;

      if (respuestaApi != null) {
        console.log(respuestaApi);
        if (respuestaApi.data.estado == 1) {
          //todo bien
          this.$store.commit("login", {
            usuario: {
              nombre: respuestaApi.data.datos.usuario.nombre,
              apellido: respuestaApi.data.datos.usuario.apellido
            },
            token: respuestaApi.data.datos.token
          });

          this.$router.push("/");
        } else if (respuestaApi.data.estado == -2) {
          //todo mal
          this.$message("usuario incorrecto");
        }
      } else {
        //todo re mal
        this.$message("Algo salio mal");
      }
    }
  }
};
</script>

<style>
.paginaLogin {
  height: calc(100vh - 40px);
  display: flex;
}

.cardLogin {
  width: 300px;
  margin: auto;
  background: #ffffffcc !important;
}
</style>