<template>
  <div>
    <el-card :body-style="{ padding: '0px' }">
      <div slot="header">
        <div style="display: flex">
          <h2>Generos</h2>
          <el-button
            icon="el-icon-plus"
            type="primary"
            style="margin: auto; margin-right: 0px"
            plain
            @click="$refs.modalNuevo.abrir()"
          >
            Agregar Nuevo Genero
            <el-button slot="append" icon="el-icon-search"></el-button>
          </el-button>
        </div>
        <el-input v-model="filtro" placeholder="Buscar por Nombre">
          <el-select
            v-model="tipoFiltro"
            slot="prepend"
            placeholder="Seleccionar"
            style="width: 150px"
          >
            <el-option label="Nombre" value="0"></el-option>
            <el-option label="Sinopsis" value="1"></el-option>
            <el-option label="Categoria" value="2"></el-option>
          </el-select>
          <el-button slot="append" icon="el-icon-search"></el-button>
        </el-input>
      </div>
    </el-card>

    <el-table :data="listaGeneros" stripe v-loading="cargando">
      <el-table-column prop="nombre" label="Nombre"></el-table-column>

      <el-table-column prop="operaciones" label="Operaciones">
        <template scope="props">
          <div>
            <el-button
              type="primary"
              plain
              round
              @click="$refs.modalModificar.abrir(props.row.id)"
            >Modificar</el-button>
            <el-button type="danger" @click="eliminar(props.row.id)" plain round>Eliminar</el-button>
          </div>
        </template>
      </el-table-column>
    </el-table>

    <NuevoGenero ref="modalNuevo" @datosCambiados="obtenerDatos(paginaActual)"></NuevoGenero>
    <ModificarGenero ref="modalModificar" @datosCambiados="obtenerDatos(paginaActual)"></ModificarGenero>
  </div>
</template>

<script>
import NuevoGenero from "../generos/Modales/NuevoGenero";
import ModificarGenero from "../generos/Modales/ModificarGenero";

export default {
  components: {
    NuevoGenero,
    ModificarGenero
  },
  data() {
    return {
      totalItems: 0,
      paginaActual: 0,
      listaGeneros: [],
      cargando: false,
      Generos: []
    };
  },
  methods: {
    paginaCambiada(nuevaPagina) {
      this.paginaActual = nuevaPagina;
      this.obtenerDatos(this.paginaActual);
    },

    async obtenerDatos(pagina) {
      this.cargando = true;
      let respuestaApi = await this.$api.get("/genero/obtenerTodos", {
        nroPagina: pagina //se pasa como objeto el numero de pagina en vez de =?asdfasdf
      });
      //await para esperar que devuelva el dato (la ejecucion es mas rapido que la velocidad de internet)
      this.cargando = false;

      this.listaGeneros = respuestaApi.data.datos.datos;
      this.totalItems = respuestaApi.data.datos.pagTotalItems;
      console.log(respuestaApi);
    },

    eliminar(id) {
      this.$confirm(
        "¿Esta seguro que desea eliminar el genero?",
        "Advertencia",
        {
          confirmButtonText: "Si",
          cancelButtonText: "Cancelar",
          type: "warning"
        }
      )
        .then(async () => {
          let respuestaApi = await this.$api.post("/genero/eliminar", {
            id: id
          });

          if (respuestaApi != null) {
            if (respuestaApi.data.estado == 1) {
              this.$message("Genero Eliminada");
              this.obtenerDatos(this.paginaActual);
            } else {
              this.$message("Ocurrio un error");
            }
          } else {
            this.$message("Ocurrio un error al contactar el servidor");
          }
        })
        .catch(() => {});
    }
  },

  created() {
    this.obtenerDatos(this.paginaActual);
  }
};
</script>

<style>
</style>